@using System.Security.Claims

 <nav class="navbar navbar-expand-md text-dark py-0 my-0 fixed-top ">
      <div class="container-fluid">
            <div class="d-flex ms-auto">
                 
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           

             
              <li class="nav-item">
                  <a class="text-primary fw-bold text-decoration-none d-flex align-items-center " title="Profile" 
                 style="font-family:Tahoma; cursor:pointer; vertical-align: middle;" href="/profilePage">
                 <img src="/images/profile/default.jpg" width="50" height="50" style="border-radius: 50%; margin-right: 3px; border: 3px solid #797676;"/> 
                </a>
            </li> 


            <li class="nav-item">
                              <button  class="btn btn-sm fw-bold d-flex align-items-center   mt-1 ml-3 " @onclick="LogoutClick" title="Log out">
                                <img src="images/icon_img/Logout.png" height="28" width="28"/>
                         </button>
            </li>
         
          </ul>
         
        </div>
      </div>
      </div>
    </nav>
@code{
    public string ProfileImage { get; set; } = "";
    
    async Task LogoutClick()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        navigationManager.NavigateTo("/", forceLoad: true);
    }

}
