@page "/home/dashboard"
<div class="container-fluid">

<div class="row mt-3">
<div class="card home">
    <div class="card-header text-center" style="text-align: center;">
        <div class="card-header">Managment App </div> 

        <div class="card-body">
        <img src="images/Picture3.png" width="150" height="100"/>
        </div>
    </div>
     </div>
 </div>

</div>
<div class="row mt-3">
<ProfilePage></ProfilePage>
</div>
<style>

      .home {
        border-radius: 8px;    
        overflow: hidden;      
        font-size:1.5rem;
    }
    .icon-image {
    width: 28px; 
    height: 28px; 
    }

    .card {
        border-radius: 8px; 
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
        transform: scale(1.02); 
    }

</style>



@code{
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState{ get; set; }
    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState).User;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;

        if (!isUserAuthenticated)
        {
            navigationManager.NavigateTo("/identity/account/login");
        }



    }
}