@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row  px-4">
          <ProfileNav></ProfileNav>
           </div>              

        <article class="content">
            @Body

        </article>
    </main>

</div>
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu/>
<RadzenTooltip/>

@code{
 
    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        navigationManager.NavigateTo("/", forceLoad: true);
    }
}